h1 {
    font-family: 'roboto', sans-serif; 
    font-weight: 500;
    font-size: 25px;
    color: #000;
}
p {
    font-family: 'roboto', sans-serif; 
    font-weight: 100;
    font-size: 20px;
    color: #000;
}
#image {
    width:85%;
margin-top: 5%;
margin-left: 5%;
}
    
#yellow{
    background-color: #efe200;
    width: 100%;
    height: 560px;
}
        
.container{
    display: inline-block;
}
.bottom{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
}

.outer{ 
    width:60%;
    height:200px; 
    background-color:#ea4754; 
    display: inline-block;
    vertical-align: top;
}
.inner{  
    width:40%; 
    text-align:left;
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: #fff;
    position: absolute;
}
#check {
    display: inline-block;
}
.outerblue{ 
    margin-left: -5px;
    width:40%; 
    height:200px; 
    background-color:#44b2e2; 
    display: inline-block;
}
.innerblue{ 
    width:100%; 
    line-height:130px; 
    text-align:center;
    font-family: 'roboto', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #fff;
    display: inline-block;
    
}

#arrow{
    margin-top: -10px;
    margin-left:43%;
}

.nav {
	padding:10px;
	border-top:1px solid #ddd;
	cursor:pointer;
}
#purplehead{
    background-color: #9B55A0;
    width= 70%;
    height: 200px;
    
}
#purplehead h1{
    font-family:  "roboto", Arial, sans-serif;
    font-weight:200;
    text-align: left;
    margin-left: 5%;
    color: #fff;
    font-size: 40px;
    line-height:130px;
}
#purplehead h2{
    font-family:  "roboto", Arial, sans-serif;
    font-weight:200;
    text-align: left;
    margin-left: 5%;
    color: #fff;
    font-size: 25px;
    margin-top: -50px;
}

#rail {
	min-height:30px;
	width:25%;
	margin-right:2%;
	float:left;
	font-family:  "roboto", Arial, sans-serif;
    border-right: 1px solid #ddd;
}
#rail h5 {
	font-size:20px;
	font-weight:300;
}
#rail p {
	margin-top:4px;
	font-size:12px;
	line-height:125%;
}
.nav:first-child {
	border-top:none !important;
}
#rail img {
    padding-right: 20px;
    display: inline-block;
    padding-top: 9%;
}
#content {
    width: 74%;
    align-content: flex-end;
    margin-left: auto;
    margin-right: 0px;
    
}
#wrapper {
    vertical-align: top;
}
#content img{
    width: 30%;
    padding-left: 30%;
    margin-top: 50px;
    height: auto;
}

#content p{
    margin-left: 7%;
    font-family: "roboto", Arial, sans-serif;
    line-height: 180%;
    margin-right: 7%;
    font-size: 20px;
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 50px;
}

@media (max-width: 850px){
    .outer{
     width: 50%;
    }
    .outerblue {
        width: 50%;
    }
    #yellow{
    height: 450px;
    }
    #image {
    margin-top:15%;
}
    .inner {
        font-size: 45px;
        width:60%;
        padding-left: 5%;
    padding-top: 5%;
        height: 250px;
        font-weight: 100;
    }}
@media (max-width: 650px){
    .outer{
     width: 100%;
    }
    .outerblue {
        width: 100%;
        margin-left: 0px;
    }
    .inner {
        font-size: 60px;
        text-align:center;
        width:100%;
        padding-left: 0px;
    padding-top: 15px;
        height: 250px; 
    }
    #yellow{
    height: 300px;
    }#image {
    margin-top:10%;
}}